* {
  box-sizing: border-box
  margin: 0;
  padding: 0; 
  

  
}

body {
    font-family: "Archivo", sans-serif;

}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 10px; 

}

.header-title {
    Background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,79,0.30017944677871145) 0%, rgba(244,0,255,1) 80%);  
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%; ;
    margin-right: 2rem;

}