*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  max-width: 70%;
  margin: 0 auto;
  height: 100vh;
  background-color: pink;
  display: flex-inline;
  flex-direction: column;
  align-items: center;
}

.banner-header {
  border: solid 5px black;
  text-align: center;
  background-color: white;
}

.banner-header h1 {
}
.meal-box {
  border: solid 5px black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.meal-headline {
  font-size: large;
  text-align: center;
}

.meal-pic {
  border: 1px solid #ddd;
  border: black solid 2px;
  border-radius: 20px;
  overflow: hidden;
  width: 80%;
  height: 50%;
}
.meal-pic img {
  margin: 0 auto; 
}
.meal-txt {
  width: 80%;
  text-align: justify;
  padding: 0 5px;
}

.meal-box button {
  margin-bottom: 10px;
}

.meal-box button {
}

.meal-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin: 0 auto;
}
